body {
    background-color: #383d53;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;         
    margin: 0;              
}

.main-container {
    background-color: #ffffff;
    height: 80vh;
    width: 170vh;
    padding: 10px;
    margin: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center; 
}

.profile-container {
    background-color: #f0f0f0;
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
    width: 30%; 
    height: 90%;
    text-align: center;
}

.profile-picture {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #000000;

}

.list-container {
    background-color: #f0f0f0;
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
    width: 55%; 
    height: 90%;
    text-align: center;
    justify-content: space-around; 
}