body{
    background-color: #383d53;
    height: 600px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.whiteBox{
background-color: #f9f9f9;
width: 1255px;
height: 570px;
position: relative;
margin-left: 50px;
margin-right: 50px;
margin-top: 50px;
margin-bottom: 50px; 
}

.lightBlueSmallBox{ 
    background-color: #8aacbd;
    border-radius: 40px;
    border: 2px solid #2c2d2d;
    width: 250px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding-bottom: 30px;
    margin-left: 50px;
    top: 90px;
}

.lightBlueBigBox{
    background-color: #8aacbd;
    width: 870px;
    height: 450px;
    align-content: center;
    position: absolute;
    margin-left: 330px;
    margin-top: 60px;
}

.lightGrayBox{
    background-color: #d9d9d9;
    width: 820px;
    height: 400px;
    align-content: center;
    position: relative;
    margin-left: 25px;
    border: 0.5px solid #2c2d2d;
    
}


